<ion-header [translucent]="true">
  <ion-toolbar align-title="center">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title align="center">Exam List</ion-title>
    <ion-buttons slot="end">
      <ionic-context-menu icon="settings">
        <!-- <ionic-context-menu-item icon="person" (click)="settingPhone()">Edit Profile</ionic-context-menu-item> -->
        <ionic-context-menu-item icon="person-circle" (click)="EditProfile()" >Edit Profile</ionic-context-menu-item>
        <ionic-context-menu-item icon="log-out" (click)="LogOut()">Log Out</ionic-context-menu-item>
      </ionic-context-menu>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar> -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content  
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"></ion-refresher-content>
    </ion-refresher>
    <ion-list *ngFor="let i of data">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{i.category_name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item (click)="sendExam(i.id, i.start_time,i.end_time)">
            <ion-label>{{i.exam_name}}</ion-label>
          </ion-item>
        </ion-card-content>
        <div align="center">{{i.doc_date}} {{i.start_time}}</div>
      </ion-card>
    </ion-list>
</ion-content>
