<ion-header>
	<ion-toolbar>
		<!-- <ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons> -->
    <ion-buttons slot="start" >
      <ion-button style="color: white;" (click)="backPage()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
		</ion-buttons>
		<ion-title>Companies</ion-title>
	</ion-toolbar>

	<ion-segment [(ngModel)]="tab" lines="none">
		<ion-segment-button value="list">
			<ion-label>
				List
			</ion-label>
		</ion-segment-button>
		<ion-segment-button value="status">
			<ion-label>
				Status
			</ion-label>
		</ion-segment-button>
	</ion-segment>
</ion-header>

<ion-content class="bg_color">
    <!-- <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar> -->
    <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content  
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"></ion-refresher-content>
    </ion-refresher>
    <ion-list *ngFor="let i of data">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{i.category_name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item (click)="sendExam(i.id, i.start_time,i.end_time)">
            <ion-label>{{i.exam_name}}</ion-label>
          </ion-item>
        </ion-card-content>
        <div align="center">{{i.start_time}}</div>
      </ion-card>
    </ion-list> -->

    <!-- New Template -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content  
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"></ion-refresher-content>
    </ion-refresher>
    <div class="tab_container" [ngSwitch]="tab" >
      <div *ngFor="let i of company_data">
        <ion-list lines="none" *ngSwitchCase="'list'">
          <ion-item (click)="AlertFollow(i.id)">
            <div class="item_container">
              <div class="syllabus">
                <h3>{{i.name}}</h3>
              </div>
              <ion-row>
                <ion-col size="7">
                  <!-- <p class="d-flex">{{i.jml}} Questions  
                    <span></span>
                    {{i.waktu || 0}} mins
                  </p> -->
                </ion-col>
                <ion-col size="5" class="ion-text-end">
                  <div class="follow">
                    Follow
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </ion-item>
        
        </ion-list>
      </div>

      <div *ngFor="let j of fcompany_data">
          <ion-list lines="none" *ngSwitchCase="'status'" >
            
            <ion-item>
            <!-- <ion-item (click)="sendCompany(i.id)"> -->
              <div class="item_container">
                <div class="syllabus">
                  
                  <h3>{{j.name}}</h3>
                </div>
                <ion-row>
                  <ion-col size="7">
                    <p class="d-flex">Status :  
                      <span></span>
                      {{j.approval}}
                    </p>
                  </ion-col>
                  <ion-col size="5" class="ion-text-end">
                    <div class="follow">
                      Unfollow
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </ion-item>
          </ion-list>
        </div>
        
    </div>
</ion-content>
