ion-button.button-color-checkin{
    --background: #6be7be;
    margin-top: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

ion-button.button-color-checkout{
    --background: #ccaf4e;
    margin-top: 90%;
    margin-left: 10%;
    margin-right: auto;
    margin-bottom: auto;
}
