<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>Forgot Password</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="form">
		<h2 class=ion-text-center>Enter Your Email</h2>
		<ion-list lines="none">
			<ion-item lines="none">
				<ion-input placeholder="email" type="email"></ion-input>
			</ion-item>
			<ion-button size="large" class="btn" (click)="">Submit</ion-button>
		</ion-list>

		<h4 class=ion-text-center>Already know the password <span (click)="backtoLogin()">Sign In</span></h4>
	</div>
</ion-content>
