<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start" >
      <ion-button style="color: white;" (click)="backPage()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
		</ion-buttons>
		<ion-title align="center">Forgot Password</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card>
    <ion-item>
      <ion-label color="primary" position="floating">Name</ion-label>
      <ion-input [(ngModel)]="name" type="text"></ion-input>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label color="primary" position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" type="text" readonly></ion-input>
    </ion-item>
  </ion-card>
    <ion-card>
      <ion-item>
        <ion-label color="primary" position="floating">UID</ion-label>
        <ion-input [(ngModel)]="UniqueDeviceID" type="text" readonly></ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-list>
        <ion-item>
          <ion-label>Company</ion-label>
          <ion-select [compareWith]="compareWith" [(ngModel)]="company_id" value="{{company_id}}">
            <ion-select-option *ngFor ="let company of company_data" value="{{company.company_id}}">{{company.company_name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-button expand="full" color="danger" (click)="saveEdit()">Save Changes</ion-button> -->

    <!-- New Template -->
    <div class="img_container ">
      <div class="profile_img_box">
        <div class="profile_img center_img">
          <img src="assets/images/avatar.png" class="crop_img">
        </div>
        <!-- <ion-icon class="zmdi zmdi-camera"></ion-icon> -->
      </div>
    </div>
    <div class="form">
      <form [formGroup]="FormForgotPassword">
      <ion-list lines="none">
        <ion-item lines="none">
          <ion-icon name="person-outline" class="zmdi zmdi-account ion-text-start" style="margin-right: 10px;margin-top: 10px;" slot="start"></ion-icon>
          <ion-label position="stacked">Name</ion-label>
          <ion-input [(ngModel)]="name" type="text"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="pricetag-outline" class="zmdi zmdi-assignment-account ion-text-start"  style="margin-right: 10px;margin-top: 10px;" slot="start"></ion-icon>
          <ion-label position="stacked">Old Password</ion-label>
          <ion-input [(ngModel)]="Password" type="text" name="password" formControlName="password" *ngIf="showPasswordText" readonly></ion-input>
          <ion-input [(ngModel)]="Password" type="text" name="password" formControlName="password" *ngIf="!showPasswordText" readonly></ion-input>
          <ion-icon color="dark" slot="icon-only" (click)="showPasswordText = !showPasswordText" *ngIf="showPasswordText" name="eye"  slot="end" class="ion-align-self-center eye-icon"></ion-icon>
          <ion-icon color="dark" slot="icon-only" (click)="showPasswordText = !showPasswordText" *ngIf="!showPasswordText" name="eye-off" slot="end" class="ion-align-self-center eye-icon"></ion-icon>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validations.password">
            <div class="error-message" style="color: red;" *ngIf="FormForgotPassword.get('password').hasError(validation.type) && (FormForgotPassword.get('password').dirty || FormForgotPassword.get('password').touched)">
              <span>{{ validation.message }}</span>
              <br><br>
            </div>
          </ng-container>
        </div>
        <ion-item lines="none">
          <ion-input placeholder="Confirm Password" type="text" name="confirmpass" formControlName="confirmpass" *ngIf="showKonfirmPasswordText"></ion-input>
          <ion-input placeholder="Confirm Password" type="password" name="confirmpass" formControlName="confirmpass" *ngIf="!showKonfirmPasswordText" ></ion-input>      
          <ion-icon color="dark" slot="icon-only" (click)="showKonfirmPasswordText = !showKonfirmPasswordText" *ngIf="showKonfirmPasswordText" name="eye"  slot="end" class="ion-align-self-center eye-icon" size="small"></ion-icon>
          <ion-icon color="dark" slot="icon-only" (click)="showKonfirmPasswordText = !showKonfirmPasswordText" *ngIf="!showKonfirmPasswordText" name="eye-off" slot="end" class="ion-align-self-center eye-icon" size="small"></ion-icon>
        </ion-item>
        <div class="error-container">
          <div class="error-message" *ngIf="FormForgotPassword.hasError('mismatchedPasswords') && FormForgotPassword.controls.confirmpass.touched && FormForgotPassword.controls.password.valid">
            <span>Passwords do not match</span>
            <br><br>
          </div>
        </div>
      </ion-list>
      </form>
    </div>
</ion-content>
<ion-footer no-border>
	<ion-button size="large" class="btn" (click)="changePassword()">Update Password</ion-button>
</ion-footer>
